.banner-image {
    width: 100%;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
}


.caption {
  display: flex;
  flex-direction: column;
 align-items: center;
}


@media only screen and (max-width: 600px) {
   
  .banner-image {
    width: 100%;
}

}
